[ ca ]
default_ca    = CA_default

[ CA_default ]
default_days     = 365
default_crl_days = 30
default_md       = sha256
preserve         = no

x509_extensions = ca_extensions
email_in_dn     = no
copy_extensions = copy

[ ca_extensions ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints       = critical, CA:false
