name: CI

on:
    workflow_dispatch:
    pull_request:
    push:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run build action
              uses: minvws/action-python-poetry-install@v1
              with:
                python_version: "3.11"

    lint:
        name: Run code linter
        runs-on: ubuntu-24.04
        needs: build

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run build action
              uses: minvws/action-python-poetry-install@v1
              with:
                python_version: "3.11"

            - name: Lint
              run: poetry run $(make lint --just-print --silent)

    type-check:
        name: Check static types
        runs-on: ubuntu-24.04
        needs: build

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run build action
              uses: minvws/action-python-poetry-install@v1
              with:
                python_version: "3.11"

            - name: Check static types
              run: poetry run $(make type-check --just-print --silent)

    safety-check:
        name: Scan packages for vulnerabilities
        runs-on: ubuntu-24.04
        needs: build

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run build action
              uses: minvws/action-python-poetry-install@v1
              with:
                python_version: "3.11"

            - name: Scan packages for vulnerabilities
              run: poetry run $(make safety-check --just-print --silent)

    spelling-check:
        name: Run spelling check
        runs-on: ubuntu-24.04
        needs: build

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run build action
              uses: minvws/action-python-poetry-install@v1
              with:
                python_version: "3.11"

            - uses: codespell-project/codespell-problem-matcher@v1

            - name: Run spelling check
              run: poetry run $(make spelling-check --just-print --silent)

    test:
        name: Run the tests
        runs-on: ubuntu-24.04
        needs: build
        services:
          prs_db:
            image: postgres:15
            env:
              POSTGRES_USER: postgres
              POSTGRES_PASSWORD: postgres
              POSTGRES_DB: testing
            ports:
              - 5432:5432
            options: >-
              --health-cmd pg_isready
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run build action
              uses: minvws/action-python-poetry-install@v1
              with:
                python_version: "3.11"

            - name: install dependencies
              run: |
                sudo apt update
                sudo apt install -y libpq-dev build-essential postgresql-client

            - name: install liboprf
              run: |
                sudo apt install -y libsodium-dev
                git clone https://github.com/stef/liboprf.git
                cd liboprf/src
                make
                sudo make install
                sudo ldconfig

            - name: Run the tests
              env:
                FASTAPI_CONFIG_PATH: ./app.ci.conf

              run: |
                sudo bash -c 'echo "127.0.0.1 prs_db" >> /etc/hosts'
                ./tools/migrate_db.sh
                poetry run $(make test --just-print --silent)

            - name: Upload coverage report
              uses: actions/upload-artifact@v5
              with:
                name: coverage
                path: coverage.xml

    sonar:
        name: SonarCloud
        runs-on: ubuntu-24.04
        needs: test
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                fetch-depth: 0
            - name: Download coverage report
              uses: actions/download-artifact@v6
              with:
                name: coverage
            - name: Run SonarQube scan
              uses: minvws/action-sonarqube@v1
              with:
                sonar-token: ${{ secrets.SONAR_TOKEN }}

    detect_modified_files:
        name: Modified files
        runs-on: ubuntu-24.04
        outputs:
          dockerfile_changed: ${{ steps.changed-files.outputs.any_changed }}
          all_modified_files: ${{ steps.changed-files.outputs.all_modified_files }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Get changed files
              id: changed-files
              uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v46
              with:
                files: |
                  docker/Dockerfile

    push_container:
        if: |
          github.ref == 'refs/heads/main' ||
          startsWith(github.ref, 'refs/tags/v') ||
          needs.detect_modified_files.outputs.dockerfile_changed == 'true'
        name: Create and publish Docker image to the Github Package Registry
        runs-on: ubuntu-24.04
        needs: [build, lint, type-check, safety-check, spelling-check, test, detect_modified_files]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ghcr.io/${{ github.repository }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              env:
                NEW_UID: 1003
                NEW_GID: 1003
              with:
                context: .
                file: docker/Dockerfile
                push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
                build-args: |
                  NEW_UID=${{ env.NEW_UID }}
                  NEW_GID=${{ env.NEW_GID }}
