name: Release docker container

on:
  push:
    tags:
      - v*

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Run build action
              uses: minvws/action-python-poetry-install@v1
              with:
                python_version: "3.11"


    push_container:
        name: Create and publish Docker image to the Github Package Registry
        runs-on: ubuntu-24.04
        needs: [build]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ghcr.io/${{ github.repository }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              env:
                NEW_UID: 1003
                NEW_GID: 1003
              with:
                context: .
                file: docker/Dockerfile
                push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
                build-args: |
                  NEW_UID=${{ env.NEW_UID }}
                  NEW_GID=${{ env.NEW_GID }}
